.LocationHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.SearchInput {
  width: 100%;
  border-radius: 2xpx;
}

.AddLocationButton {
  border: 0;
  background-color: white;
}

.AddLocationButton:hover {
  background-color: rgb(192, 192, 192);
}

.RefereshLocationButton {
  background-color: white;
  border: 1.5px solid black;
  border-radius: 5px;
  padding: 0 20px;
}

.FilterLocationButton {
  font-weight: 400;
  border-radius: 5px;
  padding: 0 30px;
  border: 1px solid rgba(128, 128, 128, 0.512);
}

.pill-container {
  font-size: 15px;
  padding: 5px 10px;
  background-color: #eab10685;
  border-radius: 100px;
}
